body {
	background-image: url("https://wallpapercave.com/wp/wp3013555.jpg");
}

.grid {
	height: 100%
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 400px);
	grid-template-areas: 
		"a b c d"
		"e f g h"
		"i j k l"
	grid-gap: 3px;
	place-items: center;
}

.Spotify {
	grid-area: a;
}

.Apple-Music {
	grid-area: b;
}

.Cable-Tv {
	grid-area: c;
}

.Cable-Radio {
	grid-area: d;
}

.Instagram {
	grid-area: e;
}

.Facebook {
	grid-area: f;
}

.Twitter {
	grid-area: g;
}

.Games {
	grid-area: h;
}

.History {
	grid-area: i;
}

.Settings {
	grid-area: j;
}

.Help {
	grid-area: k;
}

.Scheduling {
	grid-area: l;
}